html {
  box-sizing: border-box;
}

body {
  background-color: #5CD1A5;
  font-family: 'Lato';
  font-size: 17px;
  color: #464646;
  overflow: hidden;
}

.content {
  background-color: #FEFEFE;
  text-align: center;
  padding: 3em 0;
  margin: 30px;
  height: calc(80vh - 30px);
  overflow: scroll;
}

.urls {
  width: 650px;
  margin: 15px auto;
  padding: 1em 0;
  min-height: 150px;
  overflow: scroll;
}
.url-list {
  margin: 0 20vw;
}
li {
  text-align: left;
}

h1 {
  font-size: 4em;
}

input.url {
  font-size: 25px;
  width: 400px;
  padding: 0.4em;
  border: 1px solid #ccc;
}

#btnShort {
  background-color: #5CD1A5;
  color: #FFF;
  margin: 15px;
  font-size: 20px;
  padding: 0.4em 0.8em;
  border-radius: 2px;
  border: none;
}
::selection {
  background: #C7EBDD;
}
::moz-selection {
  background: #C7EBDD;
}
@media screen and (max-width: 730px) {
  .urls {
    margin: 0;
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .content,
  .url-list {
    margin: 0;
  }
  input.url {
    width:300px;
  }
}

